<div class="card card--auth">
    <h1>{{ titulo }}</h1>
    <p class="auth__subtitle">{{ subtitulo }}</p>

    {% include "components/molecules/_error_banner.html" %}

    <form method="post" novalidate>
        {% csrf_token %}
        {% for field in form %}
        <div class="form__group">
            {% include "components/molecules/_form_field.html" %}
        </div>
        {% endfor %}
        {% include "components/atoms/_button.html" with texto=boton_texto variante="primary" %}
    </form>

    <p class="auth__hint">{{ hint_texto }} <a href="{{ hint_url }}">{{ hint_link_texto }}</a></p>
</div>
